.search-bar {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 991.98px) {
        width: 80%;
      }
      @media (max-width: 767.98px) {
        width: 70%;
      }
}